#header
{
    display: flex;
    justify-content: center;
    font-size: 30px;
}
#timer
{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.conteiner
{
    background: url(img2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    min-width: 800px;
    max-width: 1600px;  
    border:10px solid purple;
    margin: 0 auto;
    box-sizing: border-box;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}
.box
{
    margin:10px;
    margin-bottom: 10px;
    padding:5px;
    border-radius: 20px;
    border: 2px solid #ffffff;
}
.box1
{
    width::content;
    height:300px;
    padding:0;
}
.box2
{
    background-image:linear-gradient(20deg,#6cbaee 0%,#814848 50%, #3e6d39 100%);
    width:30%;
    height:fit-content;
    border: 5px inset #857a7a;
    align-self:center;
}
.box3
{
    background-color:yellow;
    height:1em;
    max-width: 150px;
    margin-left: 50px;
    justify-content:flex-end;
    transition: all .2s ease-in;
}
.box3:hover
{
    opacity: 0.1;
    background-color: #e44e4e;
}
.box4
{
    background-color: rgba(58, 154, 233, 0.6);
    width:100%;
    border-radius: 50px;
    margin:15px; 
    display:flex;
    justify-content: space-around;  
}
.box5
{
    background-color: rgba(104, 53, 185, 0.85);
    width:40%;
}
.box6
{
    background-color: rgba(104, 53, 185, 0.85);
    width:40%;
}
.box7
{
    background-color: rgba(58, 154, 233, 0.6);
    width:100%;
}
.box8
{
    background-color: rgba(104, 53, 185, 0.85);
    width:40%;
}
.box9
{
    background-color:silver;
    width:40%;
    display: grid;
    grid-template-columns: 50% 50% ;
    grid-template-rows: 20% 40% 40%;
    justify-items: center;
}
.galery
{
    grid-column-start:1;
    grid-column-end:3;
}
.photo1
{
    height: 100px;
    transition: all 0.5s ease-in-out;
}
.photo1:hover
{
    transform: scale(4);
    border-radius: 100px;
}
.photo2
{
    height: 100px;
    transition: all .9s ease-out;
}
.photo2:hover
{
    transform: scale(2) rotate(360deg);
}
.photo3
{
    height: 100px;
    transition: all .4s linear;
}
.photo3:hover
{
    transform: rotateY(180deg);
}
.photo4
{
    height: 100px;
    transition: transform 1s ease;
}
.photo4:hover
{
    transform: translate(-400px) scale(2.5);
}
.portret
{
    height:100%;
    border-radius: 20px;
}
.contact
{
    font-size:18px;
    float:left;
    text-align: center;
    align-self: center;
}

.text
{
    text-align: justify;
    font-size: 16px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    text-align: center;
    color: #525252; 
    text-shadow: -1px 0 white, 0 1px white,  1px 0 white, 0 -1px white;
}
h3
{
    color: #471212;
    text-shadow: -1px 0 #777777, 0 1px #777777,  1px 0 #777777, 0 -1px #777777;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p
{
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 18px;
}
a:hover 
{ 
    color:#e44e4e 
}
